/* About Page Css */

/* About page2 */

#about-page2{
    height: 110vh !important;
}

#about-page2-left{
    height: 75%;
}

#about-left h1{
    color: #ffffffe7;
}

/* About page3 */

#about-page3{
    height: 95vh;
    background-image: url("./Images/About-Page3-Bg-Img.webp");
    position: relative;
}

#page3-heading{
    position: absolute;
    top: 10%;
}

#about-page3-overlay{
    background-color: #3d3d3de8;
    align-items: center;
    justify-content: center;
}

.about-left{
    height: 75% ;
    margin-top: 5vw;
    width: 50%;
}

.about-left .paragraph{
    color: #dbdbdb;
}

.about-left .page2-text h4{
    color: #dbdbdb;
}

.about-right{
    height: 55% ;
    margin-top: 8vw;
    width: 50%;
}

#buttondiv{
    width: 100%;
    height: 4vw;
    display: flex;
}

.button{
    width: 33.4%;
    height: 100%;
    border: none;
    color: #dbdbdb;
    cursor: pointer;
    background-color: #10102E;
    transition: all ease 0.2s;
    font-size: 1.2vw;
    font-family: mediumm;
    border-bottom: 0.4vw solid #ff4d00;
}

#button1{
    background-color: #ff4d00;
}



#mainContainer{
    width: 100%;
    height: calc(100% - 4vw);
    position: relative;
    overflow: hidden;
}

.scroll-container{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 2vw;
    transition: all ease 0.2s;
    padding-top: 1.5vw;
}

.container-img{
    height: 100%;
    width: 40%;
    border-radius: 0.8vw;
    object-fit: cover;
}

.container-text{
    height: 100%;
    width: 56.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

.container-text .page2-text{
    width: 100%;
}
.container-text .page2-text h4{
    color: #dbdbdb;
}

#container2, #container3{
    left: 100%;
}