@media (max-width:700px) {

    body {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        /* position: relative; */
    }

    #center {
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
    }

    #name h1 {
        font-size: 10vw;
        text-align: center;
    }

    #name p {
        font-size: 5vw;
        margin-left: 3.5vw;
    }

    #text {
        height: 40%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    #text h1 {
        font-size: 20vw;
    }

    #top {
        position: absolute;
    }

    #second-top {
        position: absolute;
    }

    #bottom {
        position: absolute;
    }

    #second-bottom {
        position: absolute;
    }

    .page1 {
        min-height: 80vh;
    }

    .container {
        height: 100%;
        margin-top: 25vw;
    }

    /* Show Notification */

    .notification {
        width: 50vw;
        text-align: center;
        top: 8vw;
        padding: 2vw 0vw;
        letter-spacing: 0.05vw;
    }

    /* Nav-Bar 1 Responsive code */
    .page1 #nav1 {
        width: 100%;
        height: 13vw;
        background-color: #1B1F2E;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0vw 2vw;
    }

    .head-text {
        width: 40vw;
        height: 9vw;
    }

    .head-text:nth-child(1) {
        justify-content: start;
        width: 22vw;
    }

    .head-text:nth-child(2) {
        width: 28vw;
    }

    .head-text:nth-child(3) {
        width: 24vw;
    }

    .head-text:nth-last-child(1) {
        width: 25vw;
    }

    .head-text .main-icon {
        width: 3vw;
    }

    .text-heading h2 {
        font-size: 2.3vw;
    }

    .text-heading p {
        font-size: 1.8vw;
    }

    .head-text:nth-last-child(1) .text-heading {
        margin-top: 2.1vw;
    }

    .icons img {
        width: 3.2vw;
        margin-right: 0vw;
    }

    /* Hidden Nav Bar */
    #nav3 {
        display: none;
    }

    /* Nav-Bar 2 Responsive Code  */
    .navs {
        width: 100%;
        height: 12vw;
        background-color: #ff9900;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        padding: 1vw 1.8vw 1vw 4vw;
    }

    .navs a {
        display: none;
    }

    .navs h1 {
        display: initial;
    }

    .logo {
        width: 50vw !important;
        height: 10vw;
    }

    .logo img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    .menu-icon {
        display: initial;
        width: 9vw;
    }

    .container {
        width: 100%;
        height: calc(100vh - 25vw);
        position: relative;
    }

    /* Page1 Text Responsive Code */
    .text {
        width: 100%;
        height: 40%;
        position: absolute;
        top: 65%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .text h1 {
        color: white;
        font-family: boldd;
        font-style: normal;
        font-size: 5vw;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin-bottom: 2vw;
    }

    .text p,
    .text a {
        width: 80%;
        font-size: 2.8vw;
        font-weight: 400;
        line-height: 5vw;
        letter-spacing: 0.8px;
        margin-bottom: 6vw;
        margin-left: 10vw;
    }

    .about-text {
        margin-left: 5vw !important;
        text-align: center;
    }

    #abc {
        display: none;
    }

    /* Hidden Menu Responsive Code */
    .menu {
        width: 85%;
        height: 50vh;
        transition: all ease 0.4s;
        background-color: #0B0616;
    }

    /* buttons code */
    .buttons{
        font-size: 3.5vw;
        padding: 2vw 3vw;
    }

    /* Each Page Heading Responsive Code  */
    .heading {
        width: 40vw;
        height: 8vw;
    }

    .heading h4 {
        font-size: 3vw;
        letter-spacing: 0.4vw;
    }

    .separator .dot {
        width: 2vw;
        height: 2vw;
        border-radius: 50%;
    }

    .separator .line {
        width: 12vw;
        height: 0.35vw;
    }

    /* Page2 About Us Page Responsive Code  */
    .page2 {
        width: 100%;
        height: 100vh;
        padding-bottom: 0vw;
    }

    .containers {
        flex-direction: column;
        margin-top: 4vw;
        gap: 10vw;
        height: 90%;
    }

    .page2-left {
        width: 100%;
    }

    .main-heading {
        font-size: 5vw;
        letter-spacing: 0.15vw;
    }

    .paragraph {
        font-size: 3.2vw;
        line-height: 5vw;
        letter-spacing: 0.15vw;
        margin: 3vw 0vw;
    }

    .page2-text {
        margin-top: 2vw;
    }

    .page2-text img {
        width: 6vw;
    }

    .page2-text h4 {
        font-size: 3vw;
        letter-spacing: 0.15vw;
    }

    .page2-left .buttons {
        margin-top: 4vw;
    }

    .page2-right {
        width: 100%;
    }


    /* Page3 Colab Page Responsive code */
    .collab-page {
        width: 100%;
        height: fit-content;
    }

    .overlay {
        flex-direction: column-reverse;
        justify-content: center;
        padding: 10vw 5vw;
    }

    .collab-page #left {
        width: 100%;
        height: 45%;
        gap: 5vw;
    }

    .collab-page #right {
        width: 100%;
        height: 40%;
        align-items: flex-start;
    }

    #bottom-text {
        flex-direction: column;
        gap: 0vw;
    }

    .bottom-text-head {
        display: flex;
        flex-direction: column;
        gap: 5vw;
    }

    .bottom-text-head:nth-last-child(1) {
        margin-top: 5vw;
    }

    #last-sub-text {
        margin-top: 1.8vw;
    }

    .sub-texts {
        gap: 3vw;
    }

    .sub-texts img {
        width: 6vw;
    }

    .sub-texts h4 {
        font-size: 3vw;
        letter-spacing: 0.15vw;
    }

    /* Page4 Services Page Responsive Code  */
    .service-page {
        width: 100%;
        height: fit-content;
    }

    .services-top {
        width: 100%;
        height: 30vw;
        display: flex;
        flex-direction: column;
        margin-top: 4vw;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 4vw;
    }

    .services-top h1 {
        font-size: 6vw;
        letter-spacing: 0.15vw;
    }

    #services-top1 {
        margin-top: 12vw;
        height: 130vw;
        flex-direction: column;
        gap: 8vw;
    }

    #services-top2 {
        height: 130vw;
        flex-direction: column;
        gap: 8vw;
    }

    .services {
        width: 100%;
        justify-content: space-between;
    }

    .serv-container {
        width: 45%;
        border-radius: 1vw;
    }

    .serv-container .circle {
        width: 8vw;
        height: 8vw;
        top: -7%;
    }

    .circle img {
        width: 4vw;
    }

    .serv-text h2 {
        font-size: 3.5vw;
        margin-top: 4vw;
        margin-bottom: 2vw;
        letter-spacing: 0.15vw;
    }

    .serv-text p {
        font-size: 2.5vw;
        line-height: 3vw;
    }

    /* Page5 Process Page Respomsive code */
    #page5 {
        width: 100%;
        height: fit-content;
    }

    #top-div {
        width: 60%;
    }

    #top-div h1 {
        font-size: 6vw;
        letter-spacing: 0.15vw;
        margin-top: 4vw;
    }

    #overlay #process-div {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        justify-content: center;
    }

    .proc-circle {
        width: 55vw;
        height: 55vw;
    }

    .proc-circle:nth-child(2) {
        margin-top: 0vw;
    }

    .circle-inside {
        width: 45vw;
        height: 45vw;
    }

    .circle-inside h3 {
        font-size: 5.1vw;
        letter-spacing: 0.15vw;
    }

    .circle-inside p {
        font-size: 3.3vw;
        letter-spacing: 0.15vw;
    }

    .small-circle {
        width: 18vw;
        height: 18vw;
        top: -15%;
        right: 5%;
    }

    .small-circle h2 {
        font-size: 8vw;
    }

    /* Page6 Why Choose Us Responsive Code */

    #page6 {
        height: 120vh;
    }

    #page6-top-container {
        width: 100%;
        height: 25%;
    }

    #page6-top-container h1 {
        font-size: 6vw;
        letter-spacing: 0.15vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
    }

    #page6-top-container p {
        font-size: 3.2vw;
        line-height: 5vw;
        letter-spacing: 0.15vw;
    }

    #page6-bottom-container {
        height: 75%;
        flex-direction: column;
        gap: 5vw;
    }

    .left-right {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .choose-data {
        width: 45%;
        height: 100%;
        /* box-shadow: 0vw 0vw 0.2vw 0.2vw #e2e2e2; */
        box-shadow: 20px 20px 60px #00000041, inset -20px -20px 60px #ffffff40;
        padding: 0vw 1vw;
        border-radius: 1vw;
    }

    .heading-text {
        height: 12vw;
        gap: 2vw;
    }

    .heading-text img {
        width: 6vw;
    }

    .heading-text h2 {
        font-size: 3.5vw;
        letter-spacing: 0.15vw;
    }

    .choose-data p {
        font-size: 2.5vw;
        line-height: 3.2vw;
        letter-spacing: 0.08vw;
    }

    #bottom-center {
        width: 100%;
        height: 40%;
    }

    /* Our Reviews and Details Responsive Code */

    .details {
        width: 100%;
        height: 20vh;
    }

    .details-item {
        height: 14vw;
    }

    .details-item img {
        width: 6vw;
    }

    .details-item h2,
    h3 {
        font-size: 4vw;
        letter-spacing: 0.15vw;
    }

    .details-item h2 {
        margin-right: 2vw;
    }

    .details-item p {
        font-size: 1.5vw;
    }

    /* Page7 Our Work And Pojects Responsive Code */

    #page7 {
        width: 100%;
        height: 80vh;
    }

    #page7-top-container {
        width: 100%;
        height: 42%;
    }

    #page7-top-container h1 {
        font-size: 6vw;
        letter-spacing: 0.15vw;
        margin-top: 4vw;
        margin-bottom: 3vw;
    }

    #page7-top-container p {
        font-size: 3.2vw;
        line-height: 5vw;
        letter-spacing: 0.15vw;
    }

    #page7-bottom-container {
        width: 100%;
        height: 50%;
    }

    .page7-project-container {
        width: 50%;
        height: 90%;
        margin-left: 3.5vw;
        border-radius: 1vw;
    }

    /* Contact Us Page 8 Responsive Code */

    .contact-us {
        width: 100%;
        height: 80vh; 
        padding-top: 5vw;
    }

    .contact-us-top-container {
        width: 100%;
        height: 65%;
    }

    #top-text-container {
        width: 100%;
    }

    #top-text-container h1 {
        font-size: 6vw;
        letter-spacing: 0.15vw;
        margin-top: 10vw;
        margin-bottom: 4vw;
    }

    #top-text-container p {
        font-size: 3.2vw;
        line-height: 5vw;
        letter-spacing: 0.15vw;
    }

    #top-text-container .buttons {
        margin-top: 4vw;
    }

    .contact-us-bottom-container {
        width: 100%;
        height: 45%;
        margin-top: 15vw;
        padding: 0vw;
    }

    #contact-container {
        flex-direction: column;
    }

    .contact-details {
        width: 60%;
    }

    .contact-details .img-icon {
        width: 10vw;
        height: 10vw;
    }

    .contact-details .img-icon img {
        width: 5vw;
    }

    .contact-details h2 {
        font-size: 5vw;
        letter-spacing: 0.15vw;
    }

    .contact-details p {
        margin-top: 0.8vw;
        font-size: 3vw;
        letter-spacing: 0.15vw;
    }

    /* Footer Page Responsive Code */

    .footer-page {
        height: 200vh;
        padding-top: 40vw;
        background-position: center;
    }

    .footer-page .footer {
        height: 95%;
        flex-direction: column;
        align-items: flex-start;
    }

    .footer .logo{
        margin-bottom: 2vw;
    }

    .about-us {
        width: 70%;
        margin-bottom: 6vw;
    }

    .about-us img {
        width: 50vw;
    }

    .about-us p {
        font-size: 3.2vw;
        line-height: 4vw;
        letter-spacing: 0.15vw;
    }

    .about-icons img {
        width: 6vw;
        transition: all ease 0.3s;
    }

    .explore {
        margin-left: 0vw;
        width: 100%;
        margin-bottom: 6vw;
    }

    .footer-heading {
        font-size: 8vw;
        letter-spacing: 0.15vw;
    }

    .footer-link {
        font-size: 4.2vw;
        margin-top: 4vw;
    }

    .footer-services {
        width: 100%;
        margin-bottom: 10vw;
    }

    .subscribe {
        width: 70%;
    }

    .subscribe p {
        font-size: 3.2vw;
        line-height: 4vw;
        letter-spacing: 0.15vw;
    }

    .subscribe form {
        margin-top: 5vw;
        justify-content: flex-start;
    }

    .email-address {
        width: 50vw;
        height: 8vw;
        font-size: 2.6vw;
        letter-spacing: 0.15vw;
        padding-left: 3vw;
    }

    .email-send-btn {
        width: 10vw;
        height: 8vw;
    }

    .email-send-btn img {
        width: 5vw;
    }

    .footer-bottom {
        height: 5%;
        margin-top: 0vw;
    }

    .footer-bottom p {
        font-size: 2.5vw;
    }

    /* About-Page Responsive Code */

    #about-page2{
        height: fit-content !important;
        margin-bottom: 5vw;
    }

    #about-page2 .containers{
        height: fit-content;
        justify-content: center;
        gap: 4vw;
    }

    #about-page2-left{
        height: fit-content !important;
    }
    #about-page2 .page2-right{
        height: fit-content;
    }

    /* About-Page Page3  */

    #about-page3{
        height: fit-content;
    }

    #page3-heading {
        top: 3% !important;
    }

    #about-page3-overlay {
        flex-direction: column;
        height: fit-content;
        gap: 0;
    }

    #about-left {
        width: 100%;
    }

    #about-right {
        width: 100%;
        height: 65vw;
    }

    #buttondiv {
        height: 10vw !important;
    }

    #button1,
    #button2,
    #button3 {
        border-bottom: 1.2vw solid #ff9900;
        font-size: 2.5vw;
        letter-spacing: 0.15vw;
    }

    #mainContainer {
        height: calc(100% - 14vw) !important;
    }

    .scroll-container {
        padding: 4vw 0vw !important;
        gap: 4vw !important;
    }

    .container-img {
        height: 40vw !important;
    }

    /* About-Page Page4 */

    #about-page4{
        width: 100%;
        height: fit-content !important;
    }

    #about-page4 .overlay{
        padding-top: 35vw !important;
        flex-direction: column;
        gap: 0vw;
        padding-bottom: 13vw;
    }

    #about-page4 .about-heading{
        width: 100% !important;
    }
    #about-page4 .about-heading .main-heading, .buttons{
        margin-top: 4vw !important;
    }

    .about-page4-img{
        width: 100%!important;
        height: 100vw !important;
    }

    .about-page4-img:nth-child(1) img{
        object-position: -30% 30%;
    }

    .top-div .main-heading{
        font-size: 6vw !important;
    }
    .bottom-div .buttons{
        padding: 3vw 5vw !important;
    }

    /* About Services Page */

    #about-service-page{
        height: fit-content !important;
    }

    .about-service{
        height: 220vw !important;
        flex-direction: column;
        gap: 10vw;
        margin-top: 15vw;
    }

    .about-service .serv-container{
        width: 60% !important;
    }

    .about-service .serv-container h2{
        margin: 5vw 0vw !important;
    }
}

@media (max-width:540px) {

    .page2 {
        height: fit-content;
    }

    /* Page 5 Responsive Code */

    #page5 {
        width: 100%;
        height: fit-content;
    }

    #overlay {
        height: 100%;
    }

    #page6{
        height: fit-content;
    }

    #overlay #process-div {
        width: 100%;
        height: fit-content;
        flex-direction: column;
        gap: 10vw;
    }

    /* About Page Code */

    #about-page3{
        height: fit-content !important;
    }

    #about-page3-overlay{
        height: fit-content;
        padding-bottom: 0vw;
    } 

    .footer-page{
        height: fit-content;
    }
    .footer-bottom{
        margin-top: 10vw;
    }

}

@media(min-width: 700px) and (max-width: 1024px) {
    .heading{
        width: 20vw;
    }

    .heading h4{
        font-size: 2vw;
    }
    .heading .separator .line{
        width: 10vw;
        height: 0.3vw;
    }

    .heading .separator .dot{
        width: 2.5vw;
        height: 1.5vw;
    }

    /* Page1 Home Page Responsive Code */

    .page1 {
        min-height: calc(100vh - 85vw);
    }

    .page1 #nav1 {
        padding: 0vw 1vw;
    }

    .logo {
        width: 20vw;
        height: 8vw;
    }

    .container {
        height: 100%;
    }

    /* Page2 About Us Page Responsive Code  */

    .page2 {
        height: fit-content;
        padding: 5vw 3vw;
    }

    .containers {
        flex-direction: column;
        height: 100%;
        margin-top: 3.5vw;
    }

    .page2-left {
        width: 100%;
    }

    .main-heading {
        font-size: 5vw;
    }

    .paragraph {
        font-size: 2vw;
        line-height: 3vw;
    }

    .page2-text {
        margin-top: 2vw;
        margin-bottom: 1vw;
    }

    .page2-text h4 {
        font-size: 2vw;
    }

    .page2-right {
        width: 100%;
        margin-top: 5.5vw;
    }

    /* Page3 Collab Page Responsive Code */

    .collab-page {
        height: fit-content;
    }

    .overlay {
        height: fit-content;
        padding: 5vw 3vw;
        flex-direction: column-reverse;
    }

    .overlay #left,
    #right {
        width: 100%;
    }

    #right-text p {
        margin-top: 2vw;
    }

    .sub-texts {
        margin-top: 2vw;
    }

    .sub-texts h4 {
        font-size: 2vw;
        letter-spacing: 0.2vw;
    }

    /* Page 4 Service Page All Code Start from Here  */

    .service-page {
        height: fit-content;
        padding: 5vw 0vw;
    }

    .services-top {
        margin-top: 5vw;
        margin-bottom: 8vw;
    }

    .services-top,
    #services-top1,
    #services-top2 {
        padding: 0vw 3vw;
    }

    /* Page5 Process Page Respomsive code */
    #page5 {
        height: fit-content;
    }

    #page5 #overlay {
        padding: 5vw 3vw;
        height: fit-content;
    }

    #overlay #process-div {
        height: fit-content;
        margin-top: 5vw;
    }

    /* Page6 Why Choose Us Responsive Code */
    #page6 {
        height: fit-content;
        padding: 5vw 3vw 2vw 3vw;
    }

    #page6-bottom-container {
        margin-top: 4vw;
    }

    .choose-data {
        margin-bottom: 3vw;
    }

    /* Details Page About Projects, Experience */

    .details {
        height: fit-content;
    }

    .details-overlay {
        padding: 8vw 3vw;
    }

    /* Our Work And Projects */

    #page7 {
        height: fit-content;
        padding: 5vw 3vw;
    }

    .page7-project-container {
        width: 18vh;
        height: 25vh;
    }

    /* Contact Us Page 8  */

    .contact-us {
        height: fit-content;
        position: relative;
        padding: 3vw 3vw 16vw 3vw;
    }

    .contact-us-bottom-container {
        width: 94%;
        position: absolute;
        margin-top: 5vw;
    }

    /* Footer Page  */

    .footer-page {
        height: 50vh;
    }

    .footer-page .footer {
        height: fit-content;
        padding: 5vw 3vw;
    }

    /* About Page  */

    /* About page2  */

    #about-page2 .containers .page2-left {
        height: fit-content;
    }

    #about-page2 .containers .page2-right {
        padding-bottom: 10vw;
    }

    /* About Page3 */

    #about-page3{
        /* background-color: red; */
        height: fit-content !important;
    }

    #about-page3-overlay {
        flex-direction: column;
        width: 100%;
        height: fit-content !important;
    }

    .about-left,
    .about-right {
        width: 100% !important;
    }

    #about-left .main-heading{
        margin-top: 5vw;
    }

    .about-right{
        height: 30vh !important;
        margin-top: 0vw !important;
    }

    .about-right{
        height: fit-content;
    }

    #buttondiv {
        height: 6vw !important;
    }

    .button {
        font-size: 2vw !important;
    }

    /* About Page4  */
    #about-page4{
        width: 100%;
        height: fit-content !important;
    }

    #about-page4 .about-heading{
        width: 70% !important;
    }

    #about-page4 .overlay{
        padding-top: 20vw !important;
        flex-direction: column;
        gap: 0vw;
        padding-bottom: 13vw;
    }

    .about-page4-img{
        width: 100% !important;
        height: 80vw !important;
    }

    .about-page4-img:nth-child(1) img{
        object-position: -20% 20%;
    }

    .top-div .main-heading{
        font-size: 6vw !important;
    }
    .bottom-div .buttons{
        font-size: 3vw;
        padding: 3vw 5vw !important;
    }

    /* about service page */

    #about-service-page{
        height: fit-content !important;
    }

    .about-service{
        height: 150vw !important;
        flex-direction: column;
        gap: 10vw;
    }

    .about-service .serv-container{
        width: 60% !important;
    }

    .about-service .serv-container .circle{
        top: -8%;
    }
}