@font-face {
    font-family: boldd;
    src: url(Font/NeueMontreal-Bold.woff2);
}

@font-face {
    font-family: regular;
    src: url(Font/NeueMontreal-Regular.woff2);
}

@font-face {
    font-family: mediumm;
    src: url(Font/NeueMontreal-Medium.woff2);
}

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html ,body{
    width: 100%;
    height: fit-content;
    background-color: #dadada;
}

html {
    scroll-behavior: smooth;
}

/* Show Notification */
.notification {
    display: none;
    position: fixed;
    top: 2vw;
    left: 50%;
    transform: translateX(-50%);
    padding: 1vw 3vw;
    background-color: rgba(209, 209, 209, 0.801);
    backdrop-filter: blur(5px);
    color: green;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 99999999;
    font-family: mediumm;
    letter-spacing: 0.06vw;
}

/* Page 1 */
.page1{
    width: 100%;
    min-height: 100vh;
    padding: 0.1px;
}


/* Nav Bar 1 Code */

.page1 #nav1{
    width: 100%;
    height: 4vw;
    background-color: #1B1F2E;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5vw;
}


.head-text{
    width: 18vw;
    height: 4vw; 
    border-right: 0.2vw solid #60606166;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    cursor: default;
}

.head-text:nth-last-child(1){
    margin-left: 2vw;
    align-items: center;
    border: none;
}

.head-text:nth-last-child(1) .text-heading{
    margin-top: 0.5vw;
}

.head-text .main-icon{
    width: 1.8vw;
}

.text-heading h2{
    font-size: 1vw;
    font-weight: 500;
    color: white;
    font-family: mediumm;
    font-style: normal;
    letter-spacing: 0.03vw;
    margin-bottom: 0.4vw;
}

.text-heading p{
    font-size: 0.8vw;
    font-weight: 400;
    color: #c2c2c2;
    letter-spacing: 0.03vw;
    font-family: regular;
}

.icons img{
    width: 1.5vw;
    margin-right: 1vw;
}




/* Nav2 and Hidden Nav Code */
.navs{
    width: 100%;
    height: 4vw;
    /* background-color: #0B0616; */
    background-color: #ff9900;
    /* background-color: #40C057; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4vw;
}

#hiddenNav{
    position: fixed;
    top: -100%;
}

.logo{
    width: 16vw;
    height: 4vw;
}

#top-screen .logo{
    width: 20vw;
}

.footer .logo{
    width: 20vw;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu-icon{
    display: none;
}

.navs a{
    text-decoration: none;
    font-size: 1.4vw;
    color: white;
    font-family: mediumm;
    padding: 0vw 1vw;
    /* border-bottom: 0.2vw solid transparent; */
    position: relative;
}

.navs a::after{
    content: "";
    width: 100%;
    height: 0.15vw;
    background-color: black;
    position: absolute;
    bottom: -8%;
    left: 0%;
    transform: scaleX(0);
    transition: all ease 0.25s;
}


.navs .home1::after{
    transform: scaleX(1);
}

.navs a:hover::after{
    transform: scaleX(1);
}


/* Hidden Nav Bar */
#nav3{
    position: absolute;
    z-index: 9999;
    top: -10%;
}

.nav-bar-div{
    transition: transform 0.3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.swiper {
    width: 100%;
    height: 100%;
    transition: all ease 1s;
}

.swiper-slide {
    height: 100%;
    text-align: center;
    background: #fff;
    transition: all ease 0.5s;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container{
    width: 100%;
    height: calc(100vh - 8vw);
    position: relative;
    margin-top: 8vw;
}

.container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#container-overlay{
    width: 100%;
    height: 100%;
    background-color: #000000ba;
    position: absolute;
    top: 0%;
}

.text{
    width: 80%;
    height: 40%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.text h1{
    color: white;
    font-family: boldd;
    font-size: 3.5vw;
    letter-spacing: 0.1vw;
    margin-bottom: 1.5vw;
}

.text h1 span{
    color: #ff9900;
}

.text p{
    color: white;
    font-family: regular;
    font-size: 1.3vw;
    letter-spacing: 0.15vw;
    margin-bottom: 2vw;
}

.text a{
    text-decoration: none;
    color: white;
    font-family: regular;
    font-size: 1.3vw;
    letter-spacing: 0.15vw;
    margin-bottom: 2vw;
}


/* Menu for Responsive Design  */
.menu{
    width: 90%;
    height: 10vh;
    position: fixed;
    left: -100%;
    top: 12vw;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #0B0616;
}


.menu a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 5vw;
    font-weight: 500;
    font-family: mediumm;
    margin-bottom: 5vw;
    color: white;
    padding: 2vw 5vw;
}

.menu a:hover{
    color: #ff9900;
}


/* Headign of Each page for Separator */

.heading{
    width: 15vw;
    min-height: 3vw;
    position: relative;
    left: 50%;
    transform: translate(-50% , 0%);
    text-align: center;
}

.heading h4{
    font-family: regular;
    font-size: 1vw;
    letter-spacing: 0.08vw;
    margin-bottom: 0.5vw;
    text-transform: uppercase;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8vw;
}

.separator .dot{
    width: 0.5vw;
    height: 0.5vw;
    background-color: #ff9900;
    border-radius: 50%;
}

.separator .line{
    width: 5vw;
    height: 0.2vw;
    background-color: #ff9900;
}

/* Each Page Main Heading and Paragraph */

.main-heading{
    font-family: boldd;
    font-size: 2.5vw;
    letter-spacing: 0.11vw;
    text-transform: capitalize;
}
.main-heading span{
    color: #ff9900;
}

.paragraph{
    font-family: mediumm;
    font-size: 1.3vw;
    letter-spacing: 0.06vw;
    margin: 1.2vw 0vw;
    line-height: 2.3vw;
    color: #4d4d4d;
}

/* Button Code */
.buttons{
    padding: 1vw 2.5vw;
    color: white;
    background-color: #ff9900;
    font-size: 1.2vw;
    letter-spacing: 0.08vw;
    font-family: mediumm;
    border-radius: 1vw;
    cursor: pointer;
    border: 0.1vw solid #ff9900;
    transition: all ease 0.3s;
}

.buttons:hover{
    background-color: white;
    border: 0.1vw solid #ff9900;
    color: #ff9900;
}

/* Page2 About Us us  */

.page2{
    width: 100%;
    height: 115vh;
    background-image: url(./Images/why-choose-bg.webp);
    padding: 5vw 5vw;
}

.page2 .heading h4{
    color: black;
}

.containers{
    width: 100%;
    height: 80%;
    margin-top: 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 4vw;
}

.page2-left{
    width: 55%;
    height: 100%;
}

.page2-text{
    width: 55%;
    height: 10%;
    margin-top: 0.5vw;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.page2-text img{
    width: 2.1vw;
}

.page2-text h4{
    font-family: regular;
    font-size: 1.2vw;
    letter-spacing: 0.06vw;
    color: #2c2c2c;
}

.page2-left .buttons{
    margin-top: 2vw;
}


.page2-right{
    width: 45%;
    height: 100%;
    border-radius: 0.8vw;
}

.page2-right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 0.8vw;
}

/* Page 3 Collab page */

.collab-page{
    width: 100%;
    height: 120vh;
    background-image: url(./Images/colab-bg-img.webp);
    background-size: cover;
    background-position: center;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: #000000e8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5vw;
    padding: 2vw 5vw;
}

#left{
    width: 50%;
    height: 95%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.img-div{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.img-div:nth-last-child(1){
    height: 50%;
    align-items: flex-start;
}

.big-img{
    width: 55%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5vw;
}

.colab-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all ease 0.2s;
    border-radius: 0.5vw;
}

.big-img:hover .colab-img{
    scale: 1.2;
}

.small-img:hover .colab-img{
    scale: 1.2;
}

.small-img{
    width: 40%;
    height: 80%;
    overflow: hidden;
}

#right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right-text{
    width: 100%;
    height: 70%;
}

#right-text h1{
    color: #ffffffe7;
}


#right-text p{
    color: #c6c6c6;
}

#bottom-text{
    width: 100%;
    height: 50%;
    display: flex;
    gap: 1vw;
}

.bottom-text-head{
    width: 50%;
    height: 100%;
}

.sub-texts{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    gap: 1.5vw;
}

.sub-texts img{
    width: 2.1vw;
}

.sub-texts h4{
    font-family: regular;
    font-size: 1.1vw;
    letter-spacing: 0.05vw;
    color: #e3e3e3;
}

/* Page 4 Service Page All Code Start from Here  */

.service-page{
    width: 100%;
    height: 195vh;
    background-image: url(./Images/Page4-bg-img.webp);
    background-size: cover;
    background-position: center;
    padding-top: 5vw;   
    padding-bottom: 6vw;
    position: relative;
}


.services-top{
    width: 100%;
    height: 10vw;
    padding: 0vw 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 4vw;
}


#services-top1{
    width: 100%;
    height: 28vw;
    display: flex;   
    align-items: center; 
    padding: 0vw 5vw;
    gap: 2vw;
}

#services-top2{
    width: 100%;
    height: 28vw;
    padding: 0vw 5vw;
    display: flex;
    margin-top: 8vw;
    gap: 2vw;
}

.services{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2vw;
}


.serv-container{
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 20px 20px 60px #00000041,inset -20px -20px 60px #ffffff43;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5vw;
    transition: all ease 0.3s;
}

.serv-container .circle{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    position: absolute;
    top: -10%;
    box-shadow: 5px 5px 60px #00000041,inset -5px -5px 60px #ffffff40;
    z-index: 99;
    background-color: #FAFBFD;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
}

.circle img{
    width: 2.2vw;
}

.circle .c-img2{
    display: none;
}

.serv-container:hover .circle{
    background-color: #ff9900;
}

.serv-container:hover .circle .c-img2{
    display: initial;
}

.serv-container:hover .circle .c-img1{
    display: none;
}

.serv-subcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
    cursor: default;
}

.serv-subcontainer #bg-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    bottom: -100%;
    right: -100%;
    transition: all ease 0.3s;
    /* opacity: 0.8; */
}

.serv-container:hover #bg-img{
    bottom: 0;
    right: 0;
}

.services .serv-container:hover{
    scale: 1.03;
}

#services:nth-last-child(2) .serv-container:nth-child(3) .circle img{
    width: 3vw;
}

#services:nth-last-child(1) .serv-container:nth-child(1) .circle img{
    width: 3vw;
}
#services:nth-last-child(1) .serv-container:nth-child(2) .circle img{
    width: 2.8vw;
}
#services:nth-last-child(1) .serv-container:nth-child(3) .circle img{
    width: 2.8vw;
}
#services:nth-last-child(1) .serv-container:nth-child(4) .circle img{
    width: 3vw;
}

.serv-text{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    text-align: center;
    padding: 0vw 0.7vw;
    margin-top: 5vw;
}

.serv-text h2{
    font-family: mediumm;
    font-size: 2vw;
    letter-spacing: 0.1vw;
    margin-bottom: 1vw;
    color: #343434;
    transition: all ease 0.3s;
}

.serv-text p{
    text-align: center;
    font-family: regular;
    font-size: 1.2vw;
    letter-spacing: 0.06vw;
    line-height: 1.4vw;
    color: #4d4d4d;
    transition: all ease 0.3s;
}

.services .serv-container:hover .serv-text h2{
    color: whitesmoke;
}

.services .serv-container:hover .serv-text p{
    color: #FAFBFD;
}


/* Page5 Process Page */
#page5{
    width: 100%;
    height: 136vh;
    background-image: url(./Images/process-bg.webp);
    background-size: cover;
    background-position: center;
}

#overlay h4{
    color: white;
}

#page5 #overlay{
    width: 100%;
    height: 100%;
    background-color: #000000d2;
    padding: 5vw 5vw;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#top-div{
    width: 40%;
}

#top-div h1{
    font-size: 3vw;
    color: #ffffffe7;
    margin-top: 2vw;
}

#overlay #process-div{
    width: 100%;
    height: 60vh;
    margin-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.proc-circle{
    width: 25vw;
    height: 25vw;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.proc-circle:nth-child(2){
    margin-top: 15vw;
}

.circle-inside{
    width: 22vw;
    height: 22vw;
    border-radius: 50%;
    border: 0.6vw solid #dadada;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all ease 0.3s;
}

.circle-inside h3{
    font-family: regular;
    font-size: 1.8vw;
    letter-spacing: 0.1vw;
    margin-bottom: 1.5vw;
}

.circle-inside p{
    font-family: regular;
    font-size: 1.5vw;
    text-transform: capitalize;
    letter-spacing: 0.01vw;
}

.small-circle{
    width: 5.5vw;
    height: 5.5vw;
    background-color: #ff9900;
    border-radius: 50%;
    position: absolute;
    top: -5%;
    right: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-circle h2{
    font-family: boldd;
    font-size: 3vw;
    color: white;
}

#second-circle{
    background-color: #40C057;
}

.proc-circle:hover .circle-inside{
    border-color: #ff9900;
}

.proc-circle:hover #second-inside-circle{
    border-color: #40C057;
}


/* Page 6 Why choose us page */
#page6{
    width: 100%;
    height: 130vh;
    background-image: url(./Images/Page4-bg-img.webp);
    background-size: cover;
    background-position: center;
    padding: 5vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page6-top-container{
    width: 50%;
    height: 40%;
    text-align: center;
}

#page6-top-container h1{
    font-size: 3vw;
    margin-top: 0.5vw;
}

#page6-top-container p{
    line-height: 1.9vw;
    margin-top: 0.6vw;
}

#page6-bottom-container{
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-right{
    width: 33%;
    height: 100%;
}

.choose-data{
    width: 100%;
    height: 48%;
    margin-bottom: 1.2vw;
}

.heading-text{
    width: 100%;
    height: 4vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    margin-bottom: 0.5vw;
}

.heading-text img{
    border-radius: 0.5vw;
    width: 3vw;
}

.heading-text h2{
    font-family: mediumm;
    font-size: 2vw;
    letter-spacing: 0.1vw;
    color: #343434;
}

.choose-data p{
    font-family: regular;
    font-size: 1.2vw;
    letter-spacing: 0.06vw;
    line-height: 1.6vw;
    color: #4d4d4d;
}

#bottom-center{
    width: 28%;
    height: 100%;
}

#bottom-center img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0vw 0vw 0.6vw 0.6vw #a8a8a8;
    transition: all ease 0.2s;
    border-radius: 0.5vw;

}


/* Details Page About Projects, Experience */

.details{
    width: 100%;
    height: 50vh;
    background-image: url(./Images/Details-bg-img.webp);
    background-position: center;
    background-size: cover;
    position: relative;
}

.details-overlay{
    width: 100%;
    height: 100%;
    background-color: #000000e2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
}

.details-item{
    width: 20vw;
    height: 11vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.details-item img{
    width: 4vw;
}

.details-item h2, h3{
    font-family: boldd;
    color: #ff9900;
    font-size: 3vw;
    letter-spacing: 0.08vw;
}

.details-item h2{
    width: 6vw;
}

.details-item:nth-child(2) h2{
    width: 3.5vw;
}
.details-item:nth-child(3) h2{
    width: 3.7vw;
}
.details-item:nth-child(4) h2{
    width: 2vw;
}

.second-text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.details-item p{
    font-family: mediumm;
    color: white;
    font-size: 1.2vw;
    letter-spacing: 0.08vw;
}


/* Our Work And Projects */

#page7{
    width: 100%;
    height: 120vh;
    background-image: url(./Images/Project-bg.webp);
    background-size: cover;
    background-position: center;
    padding: 5vw 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#page7-top-container{
    width: 50%;
    height: 40%;
    text-align: center;
}

#page7-top-container h1{
    margin-top: 0.4vw;
    font-size: 3vw;
}

#page7-top-container p{
    line-height: 1.9vw;
    margin-top: 0.6vw;
}

#page7-bottom-container{
    width: 100%;
    height: 60%;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 2vw 0vw;
}

#page7-bottom-container::-webkit-scrollbar{
    display: none;
}

.page7-project-container{
    width: 20%;
    height: 100%;
    display: inline-block;
    margin-left: 2vw;
    position: relative;
    overflow: hidden;
    border-radius: 0.3vw;
}


/* Page7 project Container Background images */

.page7-project-container:nth-child(1){
    background-image: url(./Images/Project_img/Instagram-img2.webp);
    background-size: cover;
    background-position: center;
}

.page7-project-container:nth-child(2){
    background-image: url(./Images/Project_img/SigniFico-Img1.webp);
    background-size: cover;
    background-position: center;
}

.page7-project-container:nth-child(3){
    background-image: url(./Images/Project_img/HotelOdisej.webp);
    background-size: cover;
    background-position: center;
}
.page7-project-container:nth-child(4){
    background-image: url(./Images//Project_img/MyPortfolio.webp);
    background-size: cover;
    background-position: center;
}
.page7-project-container:nth-child(5){
    background-image: url(./Images//Project_img/NetrixWebsite.webp);
    background-size: cover;
    background-position: center;
}
.page7-project-container:nth-child(6){
    background-image: url(./Images/Project_img/Endasmu.webp);
    background-size: cover;
    background-position: center;
}
.page7-project-container:nth-child(7){
    background-image: url(./Images/Project_img/PremierWebsite.webp);
    background-size: cover;
    background-position: center;
}
.page7-project-container:nth-child(8){
    background-image: url(./Images/Project_img/HogiWebsite.webp);
    background-size: cover;
    background-position: center;
}
.page7-project-container:nth-child(9){
    background-image: url(./Images/Project_img/Portfolio2.webp);
    background-size: cover;
    background-position: center;
}
.page7-project-container:nth-last-child(1){
    background-image: url(./Images/Project_img/modernwebsite.webp);
    background-size: cover;
    background-position: center;
}

.project-overlay{
    width: 100%;
    height: 100%;
    background-color: #00000090;
}

.page7-project-container a img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.hidden-check-box{
    width: 100%;
    height: 20%;
    background: linear-gradient(transparent, #252525);
    position: absolute;
    bottom: -20%;
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2vw;
    isolation: isolate;
}

.hidden-check-box h4{
    font-family: regular;
    font-size: 1.2vw;
    color: whitesmoke;
    letter-spacing: 0.1vw;
}

.hidden-check-box img{
    width: 2vw;
    border-radius: 0.2vw;
}

.page7-project-container:hover .hidden-check-box{
    bottom: 0%;
}

/* Contact Us Page 8  */

.contact-us{
    width: 100%;
    height: 100vh;
    padding: 0vw 5vw;
    position: relative;
}

.contact-us-top-container{
    width: 100%;
    height: 65%;
    background-image: url(./Images/contact-us-topbg.webp);
    background-size: cover;
    background-position: center;
    padding: 5vw 5vw;
    display: flex;
    border-radius: 0.5vw;
    align-items: center;
    justify-content: center;
}

#top-text-container{
    width: 80%;
    height: 100%;
    text-align: center;
}

#top-text-container h1, #top-text-container h4{
    color: white;
}

#top-text-container p{
    color: whitesmoke;
}


.contact-us-bottom-container{
    width: 100%;
    height: 40%;
    margin-top: 7vw;
    background-image: url(./Images/contact-us-bottombg.webp);
    background-size: cover;
    padding: 5.5vw;
    border-radius: 0.5vw;
}

#contact-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-details{
    width: 30%;
    height: 100%;   
    display: flex;
    align-items: center;
    gap: 2.5vw;
}

.contact-details .img-icon{
    width: 5vw;
    height: 5vw;
    background-color: #6699FF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-icon img{
    width: 2.7vw;
}

.contact-details h2{
    font-size: 1.6vw;
}

.contact-details p{
    color: whitesmoke;
    font-size: 1.2vw;
}

/* Footer Page  */

.footer-page{
    width: 100%;
    height: 120vh;
    background-image: url(./Images/footer-bg-img.webp);
    background-size: cover;
    padding-top: 15vw;
}

.footer-page .footer{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
}

.about-us{
    width: 25%;
    height: 100%;
}

.about-us img{
    width: 14vw;
}

.about-us p{
    color: #c6c6c6;
    font-size: 1.2vw;
    line-height: 1.8vw;
    margin-top: 0.3vw;
}

.about-icons{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    gap: 2vw;
}

.about-icons img{
    width: 2.5vw;
    transition: all ease 0.3s;
}

.about-icons a:hover img{
    scale: 1.3;
}

.explore{
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.7vw;
    margin-left: 5vw;
}

.footer-heading{
    font-size: 2.4vw;
    color: white;
    font-family: mediumm;
    letter-spacing: 0.15vw;
    margin-top: 0.9vw;
}

.footer-link{
    text-decoration: none;
    color: #c6c6c6;
    font-family: mediumm;
    font-size: 1.2vw;
    letter-spacing: 0.05vw;
    transition: all ease 0.3s;
}

.footer-link:hover{
    color: #ff9900;
}

.footer-services{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.7vw;
}

.subscribe{
    width: 25%;
    height: 100%;
    overflow: hidden;
}

.subscribe p{
    color: #c6c6c6;
    font-size: 1.2vw;
    line-height: 1.8vw;
    margin-top: 3.4vw;
    margin-bottom: 3vw;
}

.subscribe form{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3vw;
}

.email-address{
    width: 16vw;
    height: 3vw;
    padding-left: 1vw;
    border: none;
    outline: none;
    font-size: 1.2vw;
    font-family: mediumm;
    border-top-left-radius: 2vw;
    border-bottom-left-radius: 2vw;
}

.email-send-btn{
    width: 5vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6699FF;
    border: none;
    border-top-right-radius: 2vw;
    border-bottom-right-radius: 2vw;
    cursor: pointer;
}

.email-send-btn img{
    width: 2.5vw;
}

.footer-bottom{
    width: 100%;
    height: 15%;
    margin-top: 6vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 0.15vw solid #7a7a7a;
}

.footer-bottom p{
    color: #a9a9a9;
    font-size: 1.2vw;
}

